<div class="panel panel-default task-form col-md-5">
    <form id="create-task-form">
        <div class="panel-heading">
            <h3 class="panel-title">Add New Task</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label>Summary</label>
                <input class="form-control" required type="text" ng-model="task.Summary" />
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" required ng-model="task.Description"></textarea>
            </div>
            <div class="form-group">
                <label>Date</label>
                <input type="text" id="task-duedate" class="datepicker form-control" ng-model="task.DueDate" />
                <label for="task-duedate" class="input-group-addon btn">
                    <span class="glyphicon glyphicon-calendar"></span>
                </label>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Task Summary is : {{ task.Summary }}</h3>
                    <p>Description is : {{ task.Description }}</p>
                    <p>Due Date is : {{task.DueDate | date:'yyyy-MM-dd'}}</p>
                </div>
            </div>
            
            <input class="btn btn-default" type="submit" value="Create/Edit Task" ng-click="addEditTask(task)" />
        </div>
    </form>
</div>