<form id="create-task-form">
    <div class="form-group">
        <div class="form-group">
            <label>Summary</label>
            <input class="form-control" type="text" ng-model="task.Summary" />
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" ng-model="task.Description"></textarea>
        </div>

        <div style="margin: 15px; background-color:#ebe0e0;">
            <h3>Task Summary is : {{ task.Summary }}</h3>
            <p>Description is : {{ task.Description }}</p>
        </div>

        <input class="btn btn-default" type="submit" value="Submit" ng-click="addTask()" />
    </div>
</form>