<div class="container-fluid" ng-controller="TaskController">
    <div style="padding:10px;">
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default">
                <input type="radio" name="task-period" id="task-period" value="Today" checked>
                    Today
            </label>
            <label class="btn btn-default active">
                <input type="radio" name="task-period" id="task-period" value="Week">
                Week
            </label>
            <label class="btn btn-default">
                <input type="radio" name="task-period" id="task-period" value="Month">
                Month
            </label>
        </div>
    </div>
    <div class="panel panel-default col-md-8" ng-include="'Templates/TaskTemplate.html'"></div>
</div>