<div class="form-group">
    <div ng-repeat="comment in Comments" style="padding:8px; background-color:#f2f1fa;margin: 3px; border:1px solid #f6f0f0;">
        <div style="padding:1px;">
            <div>{{ comment.CommentText }}<span style="float:right; background-color: #ef7878; color:#ffffff; padding:0px 4px; border-radius: 3px;">X</span></div>
            <div style="color: #808080; font-size: 11px;">Added by Nipuna</div>
        </div>
    </div>
    <label>Comment</label>
    <input class="form-control" required type="text" ng-disabled="task.Id < 1" ng-model="comment.Comment"/>
    <input class="btn btn-default" type="submit" ng-disabled="task.Id < 1" value="Add Comment" ng-click="addEditComment(comment);" />
</div>